# Utiliser shamefully-hoist pour Nuxt.js et ses dépendances
shamefully-hoist=true

# Store de pnpm
store-dir=~/.pnpm-store

# Auto-install peer dependencies
auto-install-peers=true

# Strictness
strict-peer-dependencies=false
