.cssbutton {
	background: var(--primary-color);
	color: white;
	padding: 0.35em;
	padding-left: 1.2em;
	border-radius: 0.9em;
	border: none;
	display: flex;
	align-items: center;
	overflow: hidden;
	position: relative;
	height: 2.8em;
	padding-right: 3.3em;
}

.cssbutton .icon {
	background: white;
	margin-left: 1em;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.2em;
	width: 2.2em;
	border-radius: 0.7em;
	right: 0.3em;
	transition: all 0.4s;
}

.cssbutton:hover .icon {
	width: calc(100% - 0.6em);
}

.cssbutton:hover .icon Icon {
	transform: translateX(0.1em);
}

.cssbutton:active .icon {
	transform: scale(0.95);
}
