.change-color-button {
	font-family: Orbitron;
	font-weight: 600;
}

@media (min-width: 1024px) {
	.change-color-button:hover {
		width: 550px;
		border-radius: 50px;
		transition-duration: 0.5s;
		align-items: center;
	}

	.change-color-button::before {
		position: absolute;
		bottom: -20px;
		content: "Choose a color :";
		font-size: 0px;
	}

	.change-color-button:hover::before {
		font-size: 13px;
		opacity: 1;
		bottom: unset;
		transition-duration: 0.5s;
	}
}

/* checkbox */
.cyberpunk-checkbox {
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 5px;
	background-color: transparent;
	display: inline-block;
	position: relative;
}

.cyberpunk-checkbox:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	width: 13.5px;
	height: 13.5px;
	border-radius: 3px;
	transition: all 0.3s ease-in-out;
}

.cyberpunk-checkbox:checked:before {
	transform: translate(-50%, -50%) scale(1);
}

.cyberpunk-checkbox-label {
	font-size: 18px;
	color: var(--color-primary);
	cursor: none;
	user-select: none;
	display: flex;
	align-items: center;
	transform-origin: center center;
}

.cyberpunk-checkbox-label {
	transition: opacity 0.5s ease-in-out;
}

.group:not(:hover) .cyberpunk-checkbox-label {
	transition-delay: 0s;
	transition: opacity 0.2s ease-in-out;
}

.circle-container {
	align-items: center;
}
