@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
	/* background-color: #8c6cf6ac; */
	color: #E178FB;
}

body {
	background-color: #0f172a;
	font-family: Acme;
	scrollbar-width: none; /* Pour Firefox */
    -ms-overflow-style: none; /* Pour Internet Explorer et Edge */
}

::-webkit-scrollbar {
    display: none;
}

h1 {
	font-size: 6rem;
	line-height: 6.4rem;
}

h2 {
	font-size: 4rem;
    line-height: 5rem;
}

h3 {
	font-size: 2.5rem;
    line-height: 2.5rem;
}

.header {
	z-index: 999;
}

.icon-select-event {
	@apply select-none pointer-events-none;
}
.s:hover {
	background: linear-gradient(to right, #8D6DFA, #E178FB);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
	transition: color 0.1s ease-in-out;
	z-index: 100;
	filter: saturate(200%);
	@apply transform-gpu
}

.text-gradient {
	background: linear-gradient(to right, #8D6DFA, #E178FB);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
	transition: filter 0.5s ease-in-out;
	z-index: 100;
	@apply transform-gpu
}

.text-gradient:hover {
	filter: saturate(200%);
}

@media screen and (max-width: 1024px) {
	.set-dropdown-menu {
		transform: translateY(-150%);
	}
}

.gradient-img {
	-webkit-mask-image: linear-gradient(to top, transparent 0%, black 10%);
	mask-image: linear-gradient(to top, transparent 0%, black 10%);
}

@media (max-width: 1023px) {
	.menu-sm {
		color: #fff;
		line-height: 2;
		position: relative;
	}

	.menu-sm::before {
		content: "";
		width: 0;
		height: 2px;
		border-radius: 2px;
		background-image: linear-gradient(to right, #8D6DFA, #E178FB);
		position: absolute;
		bottom: -0.25rem;
		right: 0;
		transition: right 0.4s, width 0.4s, left 0.4s;
	}

	.menu-sm:hover::before {
		width: 100%;
		left: 0;
	}
}
