@import "tailwindcss";

html {
	scroll-behavior: smooth;
}

@theme {
	--color-purple: #6c34cc;
	--color-red: #dd314e;
	--color-pink: #ff3faf;
	--color-orange: #dd5f31;
	--color-yellow: #e9c925;
	--color-green: #67d13d;
	--color-cyan: #31bedd;
	--color-blue: #32a1da;
	--color-gray: #868686;
	--color-black: #111319;
	--color-white: #d0d4db;
	--color-primary: #6c34cc;
	--color-primary-transparent: #6c34cc4f;
	--color-secondary: #301563;
	--color-black-dark: #020617;
	--color-blue-dark: #0f172a;
	--color-gray-light: #8c99b0;
	--color-gray-medium: #8c99b0a2;
	--color-gray-semi: #334054;
	--color-gray-dark: #1f293b;

	--shadow-around: 0 0 30px rgba(0, 0, 0, 0.5);
	--shadow-custom-outline: 0px 0px 0px 4px var(--color-primary-transparent);
}

::selection {
	background-color: var(--color-black);
	color: var(--color-primary);
}

body {
	@apply lg:cursor-none;
	background-color: var(--color-black);
	font-family: Orbitron;
	scrollbar-width: thin; /* Pour Firefox */
	scrollbar-color: #1f293b; /* Pour Firefox */
}

/* h1 {
	font-size: 6rem;
	line-height: 6.4rem;
} */

h2 {
	@apply tracking-widest font-bold;
	/* font-size: 4rem;
	line-height: 5rem; */
}
/* 
h3 {
	font-size: 2.5rem;
	line-height: 2.5rem;
}

h4 {
	font-size: 2rem;
	line-height: 2.5rem;
} */

/* p {
	font-family: Share Tech Mono;
} */

.header {
	z-index: 999;
}

.icon-select-event {
	@apply select-none pointer-events-none;
}
.container-s:hover .s {
	background: var(--color-primary);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	transition: color 0.1s ease-in-out;
	z-index: 100;
	filter: saturate(200%);
	@apply transform-gpu;
}

.text-color-saturate {
	color: var(--color-primary);
	transition: color 0.3s ease-in-out, filter 0.5s ease-in-out;
	z-index: 100;
	@apply transform-gpu;
}

.text-color-saturate:hover {
	filter: saturate(200%);
}

.text-shadow {
	filter: drop-shadow(0 0 5px var(--color-black));
}

.logo-img {
	filter: drop-shadow(0 0 10px var(--color-black));
}

@media screen and (max-width: 1024px) {
	.set-dropdown-menu {
		transform: translateY(-150%);
	}
}

.gradient-img {
	-webkit-mask-image: linear-gradient(
		to top,
		transparent 0%,
		var(--color-black) 60%
	);
	mask-image: linear-gradient(to top, transparent 0%, var(--color-black) 60%);
}

@media (max-width: 1023px) {
	.menu-sm {
		color: #fff;
		line-height: 2;
		position: relative;
	}

	.menu-sm::before {
		content: "";
		width: 0;
		height: 2px;
		border-radius: 2px;
		background-color: var(--color-primary);
		position: absolute;
		bottom: -0.25rem;
		right: 0;
		transition: right 0.4s, width 0.4s, left 0.4s;
	}

	.menu-sm:hover::before {
		width: 100%;
		left: 0;
	}
}

.menu-line-animation {
	color: #fff;
	line-height: 1.5;
	position: relative;
}

.menu-line-animation::before {
	content: "";
	width: 0;
	height: 2px;
	border-radius: 2px;
	background-color: var(--color-primary);
	position: absolute;
	bottom: -0.25rem;
	right: 0;
	transition: right 0.4s, width 0.4s, left 0.4s;
}

.menu-line-animation:hover::before {
	width: 100%;
	left: 0;
}

.transition-filter-bgcolor {
	transition-property: filter, background-color;
}

input:-webkit-autofill {
	background-color: var(--color-black) !important;
	color: var(--color-white) !important;
}

#progressBar {
	will-change: height;
}

.dropdown-animation {
	will-change: transform, opacity;
}
