@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

::selection {
	background-color: #111319;
	color: #6C34CC;
}

body {
	cursor: none;
	background-color: #111319;
	font-family: Orbitron;
	scrollbar-width: thin; /* Pour Firefox */
	scrollbar-color: #6C34CC #111319; /* Pour Firefox */
}

h1 {
	font-size: 6rem;
	line-height: 6.4rem;
}

h2 {
	@apply tracking-widest font-bold;
	font-size: 4rem;
    line-height: 5rem;
}

h3 {
	font-size: 2.5rem;
    line-height: 2.5rem;
}

h4 {
	font-size: 2rem;
	line-height: 2.5rem;
}

p {
	font-family: Share Tech Mono;
}

.header {
	z-index: 999;
}

.icon-select-event {
	@apply select-none pointer-events-none;
}
.container-s:hover .s {
	background: #6C34CC;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
	transition: color 0.1s ease-in-out;
	z-index: 100;
	filter: saturate(200%);
	@apply transform-gpu
}

.text-color-saturate {
    color: #6C34CC;
	transition: color 0.3s ease-in-out, filter 0.5s ease-in-out;
	z-index: 100;
	@apply transform-gpu
}

.text-color-saturate:hover {
	filter: saturate(200%);
}

@media screen and (max-width: 1024px) {
	.set-dropdown-menu {
		transform: translateY(-150%);
	}
}

.gradient-img {
	-webkit-mask-image: linear-gradient(to top, transparent 0%, #111319 10%);
	mask-image: linear-gradient(to top, transparent 0%, #111319 10%);
}

@media (max-width: 1023px) {
	.menu-sm {
		color: #fff;
		line-height: 2;
		position: relative;
	}

	.menu-sm::before {
		content: "";
		width: 0;
		height: 2px;
		border-radius: 2px;
		background-color: #6C34CC;
		position: absolute;
		bottom: -0.25rem;
		right: 0;
		transition: right 0.4s, width 0.4s, left 0.4s;
	}

	.menu-sm:hover::before {
		width: 100%;
		left: 0;
	}
}

.menu-line-animation {
	color: #fff;
	line-height: 2;
	position: relative;
}

.menu-line-animation::before {
	content: "";
	width: 0;
	height: 2px;
	border-radius: 2px;
	background-color: #6C34CC;
	position: absolute;
	bottom: -0.25rem;
	right: 0;
	transition: right 0.4s, width 0.4s, left 0.4s;
}

.menu-line-animation:hover::before {
	width: 100%;
	left: 0;
}
