:root {
	--blob-color: linear-gradient(
		to right,
		var(--secondary-color),
		var(--primary-color)
	);
	--blob-size: 300px;
}

#blob {
	background: var(--blob-color);
	filter: blur(calc(var(--blob-size)/2.15));
	width: var(--blob-size);
	height: var(--blob-size);
	left: 50%;
	top: -20%;
	translate: -50% -50%;
	border-radius: 50%;
}
