.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.7s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.tag-enter-active,
.tag-leave-active {
	transition: all 0.5s ease;
	transform-origin: center;
}

.tag-enter-from {
	opacity: 0;
	transform: scale(0.5);
}

.tag-enter-to {
	opacity: 1;
	transform: scale(1);
}

.tag-leave-active {
	position: absolute;
}

.tag-leave-to {
	opacity: 0;
	transform: scale(0.5);
}

.tag-leave-from {
	opacity: 0;
}

/* Animation of stars on skill card */
@keyframes scaleRotate {
	0% {
		transform: scale(0.5) rotate(0deg);
		opacity: 0;
	}
	100% {
		transform: scale(1) rotate(360deg);
		opacity: 1;
	}
}

.transition-scale-rotate {
	animation: scaleRotate 0.5s ease-out forwards;
}
