.card {
	z-index: 10;
	width: 280px;
	height: 150px;
	border-radius: 15px;
	perspective: 1000px;
	box-shadow: rgb(0, 0, 0, 0.7) 5px 10px 50px, rgb(0, 0, 0, 0.7) -5px 0px 250px;
	display: flex;
	color: var(--white);
	justify-content: center;
	position: relative;
	flex-direction: column;
	background: linear-gradient(to right, #020617, #0f172a);
	transition: all 0.3s ease-in-out;
	overflow: hidden;
}

.card:hover {
	box-shadow: rgb(0, 0, 0) 5px 10px 50px, #0f172a -5px 0px 150px;
}

.value-icon {
	font-size: 20px;
	position: absolute;
	right: 15px;
	top: 15px;
	transform: scale(1);
}

.card:hover > .value-icon {
	transform: scale(1.5);
}

.front,
.back {
	position: absolute;
	backface-visibility: hidden;
}

.back {
	transform: rotateY(180deg);
}

.is-flipped .front {
	transform: rotateY(-180deg);
}

.is-flipped .back {
	transform: rotateY(0deg);
}

