:root {
	--grid-mask: radial-gradient(
		ellipse at center,
		black 0%,
		black 20%,
		rgb(0 0 0 / 0.75) 40%,
		rgb(0 0 0 / 0.4) 60%,
		rgb(0 0 0 / 0.12) 80%,
		transparent 95%
	);
}

@utility bg-grid-white {
	position: relative;
	isolation: isolate;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		z-index: -1;
		pointer-events: none;
		background-size: 48px 48px;
		background-image:
			linear-gradient(
				to right,
				color-mix(in srgb, var(--color-black) 10%, transparent) 1px,
				transparent 1px
			),
			linear-gradient(
				to bottom,
				color-mix(in srgb, var(--color-black) 10%, transparent) 1px,
				transparent 1px
			);
		mask-image: var(--grid-mask);
		-webkit-mask-image: var(--grid-mask);

		@media (min-width: 1024px) {
			background-size: 96px 96px;
		}
	}
}

@utility bg-grid-black {
	position: relative;
	isolation: isolate;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		z-index: -1;
		pointer-events: none;
		background-size: 48px 48px;
		background-image:
			linear-gradient(to right, var(--color-black-light) 1px, transparent 1px),
			linear-gradient(to bottom, var(--color-black-light) 1px, transparent 1px);
		mask-image: var(--grid-mask);
		-webkit-mask-image: var(--grid-mask);

		@media (min-width: 1024px) {
			background-size: 96px 96px;
		}
	}
}

@utility bg-grid-lime {
	position: relative;
	isolation: isolate;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		z-index: -1;
		pointer-events: none;
		background-size: 48px 48px;
		background-image:
			linear-gradient(
				to right,
				color-mix(in srgb, var(--color-lime-dark) 50%, transparent) 1px,
				transparent 1px
			),
			linear-gradient(
				to bottom,
				color-mix(in srgb, var(--color-lime-dark) 50%, transparent) 1px,
				transparent 1px
			);
		mask-image: var(--grid-mask);
		-webkit-mask-image: var(--grid-mask);

		@media (min-width: 1024px) {
			background-size: 96px 96px;
		}
	}
}

@utility bg-grid-violet {
	position: relative;
	isolation: isolate;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		z-index: -1;
		pointer-events: none;
		background-size: 48px 48px;
		background-image:
			linear-gradient(
				to right,
				color-mix(in srgb, var(--color-violet-dark) 50%, transparent) 1px,
				transparent 1px
			),
			linear-gradient(
				to bottom,
				color-mix(in srgb, var(--color-violet-dark) 50%, transparent) 1px,
				transparent 1px
			);
		mask-image: var(--grid-mask);
		-webkit-mask-image: var(--grid-mask);

		@media (min-width: 1024px) {
			background-size: 96px 96px;
		}
	}
}

/* @utility bg-grid-white {
    position: relative;
    isolation: isolate;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        pointer-events: none;

        background-size: 96px 96px;
        background-image: linear-gradient(
            to right,
            color-mix(in srgb, var(--color-black) 12%, transparent) 1px,
            transparent 1px
        );

        mask-image: var(--grid-mask);
		-webkit-mask-image: var(--grid-mask);

        @media (min-width: 1024px) {
            background-size: 160px 160px;
        }
    }
}

@utility bg-grid-black {
    position: relative;
    isolation: isolate;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        pointer-events: none;

        background-size: 96px 96px;
        background-image: linear-gradient(
            to right,
            var(--color-black-light) 1px,
            transparent 1px
        );

        mask-image: var(--grid-mask);
		-webkit-mask-image: var(--grid-mask);

        @media (min-width: 1024px) {
            background-size: 160px 160px;
        }
    }
}

@utility bg-grid-lime {
    position: relative;
    isolation: isolate;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        pointer-events: none;

        background-size: 96px 96px;
        background-image: linear-gradient(
            to right,
            color-mix(in srgb, var(--color-lime-dark) 55%, transparent) 1px,
            transparent 1px
        );

        mask-image: var(--grid-mask);
		-webkit-mask-image: var(--grid-mask);

        @media (min-width: 1024px) {
            background-size: 160px 160px;
        }
    }
}

@utility bg-grid-violet {
    position: relative;
    isolation: isolate;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        pointer-events: none;

        background-size: 96px 96px;
        background-image: linear-gradient(
            to right,
            color-mix(in srgb, var(--color-violet-dark) 55%, transparent) 1px,
            transparent 1px
        );

        mask-image: var(--grid-mask);
		-webkit-mask-image: var(--grid-mask);

        @media (min-width: 1024px) {
            background-size: 160px 160px;
        }
    }
} */
