@layer base {
	html,
	body {
		background-color: var(--color-white);
		color: var(--color-black);
		font-family: var(--font-lineal);
		font-variation-settings: "wght" var(--lineal-weight-regular);
		overflow-x: clip;
	}

	::selection {
		background-color: var(--color-black);
		color: var(--color-white);
	}

	button {
		cursor: pointer;
	}
}
